# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
fastapi
uvicorn[standard]
fastapi-camelcase
gunicorn==21.2.0
psycopg
psycopg_pool
pymongo
pyodbc
redis
argon2-cffi